

  <div class="foodbod">
  <div style="height: 4em;"></div>
  <div class="menumain">
      <a class="mainlink" href="/dished">Main</a><br>
      <a class="mainlink" href="/foods">Menu</a>
  </div>

  <div class="orderdiv">
    <body class="orderbod">
     <div class="menubod">
    <h2 class="tablehead">Edit Menu</h2><br><br><br><br><br>

<form action="/foods/<%= @food.id %>" method='POST'>
  Category: <input type="text" name='food[category]' value="<%= @food.category %>"><br>
  
  Name: <input type="text" name='food[name]' value="<%= @food.name %>"><br>

  Price: <input type="integer" name='food[price]' value="<%= @food.price %>"><br>

  <input type="hidden" name="_method" value="PATCH">
  <input type="submit">
</form>

<form action="/foods/<%= @food.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Food">
</form>

</div> 
  </body>
</div> 