
  <div class="foodbod">
  <div style="height: 4em;"></div>
  <div class="menumain">
      <a class="mainlink" href="/dished">Main</a><br>
      <a class="mainlink" href="/foods">Menu</a>
  </div>


<div class="foodhead">
  <body class="foodbod">
    <h1 class="foodshow">Table<%= @party.table_number %></h1> 
    <ul>
      <li>Guests: <%= @party.guests %> </li>
      <li>Paid: <%= @party.paid %> </li>
    </ul>
  </body>
</div>

<div class="neworder">
  <h2>Add a new order!<h2>

  <form action="/parties/<%= @party.id %>" method="POST">
    <select name = "food_id">
      <% @foods.each do |food| %>
        <option value= "<%= food.id %>"><%=food.name %></option>
      <% end %>
    </select>
    <input type="submit">
  </form>
</div>